.header{
    height: 44px;
    background-color: #006699;

}
.header .arrowLeft {
    line-height: 44px;
}
.header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 44px;
    color: #fff;
    font-size: 18px;
    font-family: 微软雅黑;
}

.passwordBody{
    padding: 0 10px;
    margin-top: 50px;
}


.btn_updatePass{
    margin-top: 20px;
    width: 100%;
}